/* =====fonts===== */

@font-face {
    font-family:"roboto" ;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family:"santio" ;
    src: url(../fonts/santio/SANTIO/TTF/Santio\ Bold.ttf);
}
@font-face {
    font-family:"tangerine" ;
    src: url(../fonts/Tangerine/Tangerine-Regular.ttf);
}

/* =====colors===== */

$yellow:#e7bc0e;
$grey:#efefef;
$green:#6bc1a3;
$pink:#cb91b6;
$blue:#7eb8e1;

/* =====global===== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.smallerFont{
    font-size: 1.5rem;
}
span{
    padding-bottom:0.2rem ;
    color: white;
    background-color:#29272a;
}

.testFont{
    position: absolute;
    
}

/* =====header & parallex sections===== */

header,section{
    background: url(../img/cleo-topper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;


        .takeActionContainer{
            display: flex;
            align-items: center;
            position: absolute;
            right: 5vw;
            top:2%;
            font-size: 1.5rem;
            color: white;
                
                .takeAction{
                    margin-left: 1rem;
                    text-decoration: underline;
                    font-family: "roboto";
                    font-weight: bold;
                    text-decoration-color:$yellow;
                    text-underline-offset: 0.5rem;
                }
                .heartLogo{
                    width: 2rem;
                    display: block;
                    margin-left: auto;
                }
        }
        .textTop{
            width: 15rem;
            font-size: 3rem;
            color: white;
            position: absolute;
            left: 5vw;
            top: 60vh;
            font-family: "santio";
        }
        .scrollText{
            color:$yellow;
            font-family: "tangerine";
            font-size: 4rem;
            font-weight:500;
            position: absolute;
            left: 5vw;
                
                span{
                    font-family: "roboto";
                    font-size: 1rem;
                    width: 0.1rem;
                    color: $yellow;
                    margin-left: 0.5rem;
                    background-color: transparent;
                }
        }
        .firstTextSectionText{
            width: 90%;
            margin: auto;
            line-height: 1.5;
            font-family: "santio";
            font-size: 2rem;
            color:$green ;
        }
        .workersSection{

            img{
                width: 12rem;
                position: absolute;
                left:5vw ;
            }

            .workersTextContainer{
                padding-top: 20rem;
                max-width: 80%;
                font-size: 6rem;
                margin: auto;
                color: $yellow;
                font-family:"santio";
                }
            }
        }
        .wageSection{

            img{
                width: 12rem;
                position: absolute;
                left: 5vw;
            }

            .wageTextContainer{
                padding-top: 20rem;
                max-width: 80%;
                font-size: 6rem;
                margin: auto;
                color: $pink;
                font-family:"santio";
            }
        }

        .healthSection{

            img{
                width: 12rem;
                position: absolute;
                left: 5vw;
            }

            .healthTextContainer{
                padding-top: 18rem;
                max-width: 80%;
                font-size: 6rem;
                margin: auto;
                color: $green;
                font-family:"santio";
                margin-bottom: 5rem;
            }

            .textBottom{
                padding-left: 4rem;
                line-height: 1.5;
                font-size:1.2rem ;
                font-family: "santio";
                color: $blue;

            }
        }

.footerImg{
    background: url(../img/kid.png),url(../img/see.png);
    height: 80%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.footer{
    height: 57%;
    width: 100%;
    background-color: black;

    .footerText{
        padding-top: 5rem;
        text-align: center;
        color: white;
        font-size: 3rem;
        max-width:35rem;
        font-family: "santio";
        margin-bottom: 4rem;
    }

    .donateButton{
        color: white;
        text-decoration: none;
        border: 1px solid white;
        margin-left: 4rem;
        font-size: 1.2rem;
        font-family: "santio";
        padding: 0.8rem;
    }
    .donateButton:hover{
        box-shadow: 2px 2px white;
    }

    .endNote{
        color: white;
        text-align: center;
        padding-top: 6rem;
        font-family: "santio";
        font-size: 0.75rem;

        span{
            color: $green;
            background-color: black
        }
    }
}