/* =====fonts===== */
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "santio";
  src: url(../fonts/santio/SANTIO/TTF/Santio\ Bold.ttf);
}
@font-face {
  font-family: "tangerine";
  src: url(../fonts/Tangerine/Tangerine-Regular.ttf);
}
/* =====colors===== */
/* =====global===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.smallerFont {
  font-size: 1.5rem;
}

span {
  padding-bottom: 0.2rem;
  color: white;
  background-color: #29272a;
}

/* =====media queries */
@media only screen and (min-width: 1000px) {
  header section .textTop {
    font-size: 4rem;
    width: 20rem;
  }
  header section .scrollText {
    font-size: 5rem;
    padding-top: 3rem;
  }
  header section .firstTextSectionText {
    font-size: 3rem;
  }
  header section article .workersTextContainer {
    font-size: 8rem;
  }
  header section .wageTextContainer {
    font-size: 8rem;
  }
  header section .healthTextContainer {
    font-size: 8rem;
  }
  header section .textBottom {
    width: 60rem;
  }
}
/* =====header & parallex sections===== */
header, section {
  background: url(../img/cleo-topper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
header .takeActionContainer, section .takeActionContainer {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5vw;
  top: 2%;
  font-size: 1.5rem;
  color: white;
}
header .takeActionContainer .takeAction, section .takeActionContainer .takeAction {
  margin-left: 1rem;
  text-decoration: underline;
  font-family: "roboto";
  font-weight: bold;
  -webkit-text-decoration-color: #e7bc0e;
          text-decoration-color: #e7bc0e;
  text-underline-offset: 0.5rem;
}
header .takeActionContainer .heartLogo, section .takeActionContainer .heartLogo {
  width: 2rem;
  display: block;
  margin-left: auto;
}
header .textTop, section .textTop {
  width: 15rem;
  font-size: 3rem;
  color: white;
  position: absolute;
  left: 5vw;
  top: 60vh;
  font-family: "santio";
}
header .scrollText, section .scrollText {
  color: #e7bc0e;
  font-family: "tangerine";
  font-size: 4rem;
  font-weight: 500;
  position: absolute;
  left: 5vw;
}
header .scrollText span, section .scrollText span {
  font-family: "roboto";
  font-size: 1rem;
  width: 0.1rem;
  color: #e7bc0e;
  margin-left: 0.5rem;
  background-color: transparent;
}
header .firstTextSectionText, section .firstTextSectionText {
  width: 90%;
  margin: auto;
  line-height: 1.5;
  font-family: "santio";
  font-size: 2rem;
  color: #6bc1a3;
}
header .workersSection img, section .workersSection img {
  width: 12rem;
  position: absolute;
  left: 5vw;
}
header .workersSection .workersTextContainer, section .workersSection .workersTextContainer {
  padding-top: 20rem;
  max-width: 80%;
  font-size: 6rem;
  margin: auto;
  color: #e7bc0e;
  font-family: "santio";
}

.wageSection img {
  width: 12rem;
  position: absolute;
  left: 5vw;
}
.wageSection .wageTextContainer {
  padding-top: 20rem;
  max-width: 80%;
  font-size: 6rem;
  margin: auto;
  color: #cb91b6;
  font-family: "santio";
}

.healthSection img {
  width: 12rem;
  position: absolute;
  left: 5vw;
}
.healthSection .healthTextContainer {
  padding-top: 18rem;
  max-width: 80%;
  font-size: 6rem;
  margin: auto;
  color: #6bc1a3;
  font-family: "santio";
  margin-bottom: 5rem;
}
.healthSection .textBottom {
  padding-left: 3.1rem;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "santio";
  color: #7eb8e1;
}

/* ===== footer section ===== */
.footerImg {
  background: url(../img/kid.png), url(../img/see.png);
  height: 80%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.footer {
  height: 57%;
  width: 100%;
  background-color: black;
}
.footer .footerText {
  padding-top: 5rem;
  text-align: center;
  color: white;
  font-size: 3rem;
  max-width: 35rem;
  font-family: "santio";
  margin-bottom: 4rem;
}
.footer .donateButton {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  margin-left: 4rem;
  font-size: 1.2rem;
  font-family: "santio";
  padding: 0.8rem;
}
.footer .donateButton:hover {
  box-shadow: 2px 2px white;
}
.footer .endNote {
  color: white;
  text-align: center;
  padding-top: 6rem;
  font-family: "santio";
  font-size: 0.75rem;
}
.footer .endNote span {
  color: #6bc1a3;
  background-color: black;
}/*# sourceMappingURL=style.css.map */