/* =====fonts===== */

@font-face {
    font-family:"roboto" ;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family:"santio" ;
    src: url(../fonts/santio/SANTIO/TTF/Santio\ Bold.ttf);
}
@font-face {
    font-family:"tangerine" ;
    src: url(../fonts/Tangerine/Tangerine-Regular.ttf);
}

/* =====colors===== */

$yellow:#e7bc0e;
$grey:#efefef;
$green:#6bc1a3;
$pink:#cb91b6;
$blue:#7eb8e1;

/* =====global===== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}


.testFont{
    position: absolute;
    
}

/* =====header & parallex sections===== */

header,section{
    background: url(../img/cleo-topper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;


        .takeActionContainer{
            display: flex;
            align-items: center;
            position: absolute;
            right: 5vw;
            top:2%;
            font-size: 1.5rem;
            color: white;
                
                .takeAction{
                    margin-left: 1rem;
                    text-decoration: underline;
                    text-decoration-color:$yellow ;
                }
                .heartLogo{
                    width: 2rem;
                    display: block;
                    margin-left: auto;
                }
        }

        .textTop{
            width: 20rem;
            font-size: 3rem;
            color: white;
            position: absolute;
            left: 5vw;
            top: 60vh;
        }


            .test{
                color: black;
                /* background-color: transparent; */
            }
}

